<%- include('../partials/header') %>

<br />
<div id="list" class="row">
    <% books.forEach(function(book) { %>
      <div class="col-lg-2 col-sm-4 mb-4">
      <div class="card h-100">
      <a href="#"
        ><img
          class="card-img-top"
          src="https://via.placeholder.com/700x400"
          alt=""
      /></a>
      <div class="card-body text-center">
        <h4 class="card-title"><%= book.title %></h4>
        <p class="card-text">by</p>
        <h6><%= book.author.first %> <%= book.author.last %></h6>
      </div>
    </div>
  </div>
    <% }); %>
  </div>
  <%- include('../partials/footer') %>
</div>
