<%- include('../partials/header') %>

<div class="card h-75 w-50 mt-5 mx-auto">
    <a href="#"
      ><img
        class="card-img-top"
        src="https://via.placeholder.com/700x400"
        alt=""
    /></a>
    <div class="card-body text-center">
      <h3 class="card-title "><%= book.title %></h3>
      <p class="card-text">by</p>
      <h4><%= book.author.first %> <%= book.author.last %></h4>
      <% if(user) { %>
      <form class="row g-3" action="/books/<%= book._id %>/comment" method ="POST">
         
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">My Take on it</label>
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Review</button>
        </div>
      </form>
      <br />
      <form class="row g-3" action="/books" method ="POST">

        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">My Favorite Quote</label>
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Add Quote</button>
        </div>
      </form>
      <% } %>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>