<%- include('../partials/header') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-4 text-center mt-5">
      <h4>User Comments</h4>

      <!-- ejs book.for each begins here -->
      <% book.comments.forEach(function(comment) { %>
      <div class="container mt-2">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <!-- add user data and comments here -->
                <h5 class="card-title"><%= comment.userName %></h5>
                <p class="card-text"><%= comment.content %></p>
                <h5 class="card-title"><%= comment.rating %>/10</h5>
                <!--  -->

<!-- add only logged in users here -->
<% if (user && user._id.equals(comment.user) ) { %>
                <div class="row">
                  <div class="col md-6">
                    <form
                      action="/comments/<%= book._id %>?_method=PUT"
                      method="POST"
                    >
                      <button type="submit" class="btn btn-primary btn-sm">
                        Edit
                      </button>
                    </form>
                  </div>
                  <div class="col md-6">
                    <form
                      action="/comments/<%= book._id %>?_method=DELETE"
                      method="POST"
                    >
                      <button type="submit" class="btn btn-primary btn-sm">
                        Delete
                      </button>
                    </form>


                  </div>
                </div>
<% } %>
                <!-- end only logged in user data here -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

    <!-- taken from <div class= card: h-75 w-50 mt-5 mx-auto -->
    <div class="col-4">
      <div class="card mt-5">
        <div class="card-body text-center">
          <h3 class="card-title"><%= book.title %></h3>
          <p class="card-text">by</p>
          <h4><%= book.author.first %> <%= book.author.last %></h4>
          <% if(user) { %>
          <form
            class="row g-3"
            method="POST"
            action="/books/<%= book._id %>/comments"
          >
            <div class="form-floating">
              <textarea
                class="form-control"
                name="content"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              >
              </textarea>
              <label for="floatingTextarea2">My Take On It</label>
              <div>
                <label for="customRange2" class="form-label">Rating</label>
                <input
                  type="range"
                  class="form-range"
                  min="0"
                  max="10"
                  id="customRange2"
                  name="rating"
                />
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Add My Take</button>
            </div>
          </form>
          <br />
          <form class="row g-3" action="/books" method="POST">
            <div class="form-floating">
              <textarea
                class="form-control"
                name="content"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
              <label for="floatingTextarea2">My Favorite Quote</label>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary">Add Quote</button>
            </div>
          </form>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-4 text-center mt-5">
      <h4>Favorite Quotes</h4>

      <!-- ejs book.for each begins here -->
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <!-- add user data and comments here -->
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <!--  -->
                <div>
                  <button href="#" type="button" class="btn btn-primary btn-sm">
                    Edit
                  </button>
                  <button href="#" type="button" class="btn btn-primary btn-sm">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
